.bg {
	background-image: url("https://images.unsplash.com/photo-1586990684319-40c14d005de9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1402&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 900px;
	position: relative;
	margin: 0;
}
.bg::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.0);
}
.bgs {
	background-image: url("https://images.unsplash.com/photo-1530853573459-9a86480e58f5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 900px;
	position: relative;
	margin: 0;
}
.bgs::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.3);
}
.main-wrapper {
    width: 100%;
    background: #000000;
    padding-bottom: 0px;
}
.slider-holder {
    width: 100%;
    background: #000000;
    padding-bottom: 3px;
}
.carousel {
    height:55vh !important;
}
.cc1 {
    background-image: url("https://images.unsplash.com/photo-1603436326379-67438d1e8fcd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
}
.cc2 {
    background-image: url("https://images.unsplash.com/photo-1586105538956-f0fc8ec7887a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
}
.cc3 {
    background-image: url("https://images.unsplash.com/photo-1502517787199-e68205b0c811?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2338&q=80");
}
.cc4 {
    background-image: url("https://images.unsplash.com/photo-1510551768116-46a5da1539dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2551&q=80");
}
.panel-text {
    font-size: 10px;
}
.link-text {
    text-decoration: underline;
}
.header-top {
    padding-top: 30px;
}
.cc1, .cc2, .cc3, .cc4 {
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.material-icons {
    color: darkgreen;
}
.fa-leaf {
    color: darkgreen;
}
.fa-spa {
    color: darkgreen;
}
.fa-seedling {
    padding-left: 25px;
}
.fa-caret-down {
    padding-left: 5px;
    margin-left: 0px;
    font-size: 15px;
    margin: 0px;
}
.menu-right {
    padding-right: 25px;
}
.footer-margin {
    margin-bottom: 0px;
}
.card .card-content {
    margin-bottom: 0rem;
    font-size: 13px;
}
.card-image {
    height: 300px; /* Your height here */
    overflow: hidden;
}
.plant_id {
    margin-bottom: 3rem;
    padding: 2rem;
}
.upload_image {
    width: 200px !important;
}
.plant_image {
    width: 350px !important;
}
.trefle_image {
    width: 500px !important;
}
.indent-detail {
    padding-left: 5px;
}
.wiki-text {
    border-radius:3px;
    padding: 1px;
    text-decoration: underline;
}
.btn {
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
}
.btn i {
    font-size: 0.9rem;
}
.page-box {
    background: rgba(1, 48, 25, 0.35);
    padding: 10px;
    border-radius: 15px;
    z-index: -2;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-box {
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    z-index: -2;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    margin-right: 0px;
}*/
.btn-css {
    margin-top: 20px;
}
.cap-text {
    text-transform: uppercase;
}
.collection-margin {
    margin-top: 100px
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.flashes h4 {
    line-height: 2;
}

.footer-text i {
	padding-left: 5px;
}
.social-networks {
	text-align: center;
}
.social-networks li {
	display: inline;
}
.social-networks i {
	font-size: 110%;
	padding: 0 10px;
	color: #fff;
}
.footer-text i:hover {
	color: #316833;
}
.social-networks i:hover {
	color: #316833;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #73b9b9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #73b9b9;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #73b9b9;
}
.cloudinary-buttons {
    background-color: #004d40;
    color: #f57f17;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    height: 28x;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 14px;
}
@media only screen and (max-width: 1100px){

.card .plant_image {
    width: 200px !important;
}
.card .trefle_image {
    width: 400px !important;
}
}
@media only screen and (max-width: 550px){

.card .plant_image {
    width: 150px !important;
}
.card .trefle_image {
    width: 300px !important;
}
.main-header {
    font-size: 20px;
}
.sub-header {
    font-size: 10px;
}
.panel-text {
    font-size: 8px;
}
}
@media only screen and (max-width: 400px){

.card .plant_image {
    width: 130px !important;
}
.card .trefle_image {
    width: 260px !important;
}

}
@media only screen and (max-width: 350px){
nav .brand-logo {
    font-size: 1rem !important;
}
nav .fad {
    font-size: 1rem !important;
    margin-top: 22px !important;
}
.card .plant_image {
    width: 100px !important;
}
.card .trefle_image {
    width: 200px !important;
}
.main-header {
    font-size: 15px;
}
.sub-header {
    font-size: 5px;
}
.panel-text {
    font-size: 5px;
}
}
@media only screen and (max-width: 280px){

.card .plant_image {
    width: 80px !important;
}
.card .trefle_image {
    width: 160px !important;
}
}