{% extends 'base.html' %} {% block content %}

<div class="container teal-text text-darken-4">
<h4>Add Plants</h4>
<p class="teal-text text-darken-4">Make sure you have set up a collection before entering a plant!</p>
<div class="row teal lighten-4">
	<form action="{{ url_for('insert_plant') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">poll</i>
				<select id="collections" name="collection_name" class="validate" required>
                <option value="" disabled selected>Choose Collection Name</option>
                {% for coll in collections %}
                    <option value="{{coll.collection_name}}">{{coll.collection_name}}</option>
                {% endfor %}
                </select>
				<label for="icon-prefix">Collection Name: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="fas fa-leaf prefix"></i>
				<input id="trefle_id" name="trefle_id" type="text" class="validate">
				<label for="trefle_id">Trefle ID: </label>
			</div>
        </div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-leaf prefix"></i>
				<input id="common_name" name="common_name" type="text" class="validate" required>
				<label for="common_name">Common Name: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="fas fa-leaf prefix"></i>
				<input id="family_common_name" name="family_common_name" type="text" class="validate">
				<label for="family_common_name">Family Common Name: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="fas fa-leaf prefix"></i>
				<input id="scientific_name" name="scientific_name" type="text" class="validate">
				<label for="scientific_name">Scientific Name: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="fas fa-leaf prefix"></i>
				<input id="family_name" name="family_name" type="text" class="validate">
				<label for="family_name">Family Name: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="fas fa-leaf prefix"></i>
				<input id="genus" name="genus" type="text" class="validate">
				<label for="genus">Genus: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">subject</i>
				<textarea id="description" name="description" class="materialize-textarea validate"></textarea>
				<label for="description">Description: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">today</i>
				<input id="date_added" name="date_added" type="text" class="datepicker validate" required>
				<label for="date_added">Date Added: </label>
			</div>
        </div>
        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">camera_alt</i>
				<input id="image_url" name="image_url" type="text" class="validate">
				<label for="image_url">Image URL: </label>
			</div>
        </div>
		    <div class="row">
		        <button class="btn waves-effect waves-light" type="submit">Add Plant
                    <i class="material-icons right">add</i>
                </button>
            </div>
	</form>
</div>
</div>
{% endblock %}