{% extends "base.html" %} {% block content %}
<h3 class="yellow-text text-shadow text-darken-4 center-align">
  Oops! There is a problem!
</h3>
<div class="row card-panel teal lighten-5">
  <div class="row">
    <a
      href="https://www.deviantart.com/florapolitis/art/Dying-Plant-Flower-689450996"
      target="blank">
      <img class="responsive-img" src="static/images/dying_plant.png" alt="" />
    </a>
    <p style="font-size: 5px;" class="teal-text text-darken-4 center-align">
      <a
        class="teal-text text-darken-4 wiki-text"
        href="https://www.deviantart.com/florapolitis/art/Dying-Plant-Flower-689450996"
        target="blank"
        >© 2017 - 2021 florapolitis</a>
    </p>
  </div>
  <p style="font-size: 25px;" class="teal-text text-darken-4 center-align">
    Oops! Looks like there is a problem;
  </p>
  <p class="teal-text text-darken-4 wiki-text">
    1. If you're on a mobile device and entered a
    <a
      class="teal-text text-darken-4 wiki-text"
      href="https://trefle.io/about#sources"
      target="blank"
      >Trefle.io</a>
    search with an ' (apostrophe) in the name {eg: aaron's beard}, the search
    gets thrown out. Re-enter your search on a mobile with no ' apostrophe in
    the name {eg: aarons beard}.
  </p>
  <div class="row">
      <div class="col s12">
        <a href="{{url_for('get_trefle_many')}}" class="teal btn text-shadow"
          >Back to Main Search</a>
      </div>
    </div>
  <p class="teal-text text-darken-4 wiki-text">
    2. The
    <a
      class="teal-text text-darken-4 wiki-text"
      href="https://trefle.io/about#sources"
      target="blank"
      >Trefle.io</a> database is down for maintenenance, and should be up again shortly.
  </p>
  <div class="row">
      <div class="col s12">
        <a href="{{url_for('get_trefle_many')}}" class="teal btn text-shadow"
          >Back to Trefle Search</a>
      </div>
    </div>
  <p class="teal-text text-darken-4 wiki-text">
    3. The
    <a
      class="teal-text text-darken-4 wiki-text"
      href="https://plant.id/"
      target="blank"
      >Plant.id</a> database is down for maintenenance, and should be up again shortly.
  </p>
  <div class="row">
      <div class="col s12">
        <a href="{{url_for('plant_id')}}" class="teal btn text-shadow"
          >Back to Plant.ID Search</a>
      </div>
    </div>
</div>
{% endblock %}
