<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>RHC Garden Manager</title>
</head>
<body class="teal lighten-5 bg">
	<header>
        <div class="navbar-fixed">
		<nav class="teal darken-4 text-shadow">
			<div class="nav-wrapper">
            <div class="container">
				<a href="{{url_for('get_home')}}" class="center-align low-text yellow-text text-darken-4"><i class="fad fa-seedling"></i> Garden Manager</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right yellow-text text-darken-4"><i class="flow-text fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{url_for('get_home')}}" class="yellow-text text-darken-4">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{url_for('get_plants')}}" class="yellow-text text-darken-4">My Plants</a></li>
					    <li><a href="{{url_for('get_collections')}}" class="yellow-text text-darken-4">My Collections</a></li>
					    <li><a href="{{url_for('add_plants')}}" class="yellow-text text-darken-4">Add Plants</a></li>
					    <li><a href="{{url_for('add_collections')}}" class="yellow-text text-darken-4">Add Collections</a></li>
                        <li><a href="{{url_for('get_trefle')}}" class="yellow-text text-darken-4">Trefle Search</a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}" class="yellow-text text-darken-4">My Profile</a></li>
                        <li><a href="{{ url_for('get_users') }}" class="yellow-text text-darken-4">User Details</a></li>
                        <li><a href="{{ url_for('logout') }}" class="yellow-text text-darken-4">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}" class="yellow-text text-darken-4">Log In</a></li>
                        <li><a href="{{ url_for('register') }}" class="yellow-text text-darken-4">Register</a></li>
                    {% endif %}
				</ul>
            </div>
        </div>
		</nav> 
        </div>

		<ul class="sidenav teal darken-4 text-shadow" id="mobile-demo">
			<li><h4 class="center-align yellow-text text-darken-4 flow-text title1"><i class="fad fa-seedling"></i> Garden Manager</h4></li>
			<li><a href="{{url_for('get_home')}}" class="yellow-text text-darken-4">Home</a></li>
			{% if session.user %}
            <li><a href="{{url_for('get_plants')}}" class="yellow-text text-darken-4">My Plants</a></li>
			<li><a href="{{url_for('get_collections')}}" class="yellow-text text-darken-4">Collections</a></li>
			<li><a href="{{url_for('add_plants')}}" class="yellow-text text-darken-4">Add Plants</a></li>
			<li><a href="{{url_for('add_collections')}}" class="yellow-text text-darken-4">Add Collections</a></li>
            <li><a href="{{url_for('get_trefle')}}" class="yellow-text text-darken-4">Trefle Search</a></li>
			<li><a href="{{ url_for('profile', username=session['user']) }}" class="yellow-text text-darken-4">My Profile</a></li>
            <li><a href="{{ url_for('get_users') }}" class="yellow-text text-darken-4">User Details</a></li>
            <li><a href="{{ url_for('logout') }}" class="yellow-text text-darken-4">Logout</a></li>
			{% else %}
			<li><a href="{{ url_for('login') }}" class="yellow-text text-darken-4">Log In</a></li>
			<li><a href="{{ url_for('register') }}" class="yellow-text text-darken-4">Register</a></li>
			{% endif %}
		</ul>
            
	</header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="teal lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/ee9889d2bd.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>