{% extends 'base.html' %} {% block content %}

<div class="container">
<h4>Edit User</h4>
<div class="row">
{% for user in users %}
{% if session.user|lower == user.username|lower %}
	<form action="{{ url_for('update_user', user_id=user._id) }}" method="POST" class="col s12">
		 <div class="card-panel">
                <!-- first name / last name -->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-user prefix teal-text text-darken-4"></i>
                        <input id="first_name" name="first_name" type="text" class="validate" value="{{user.first_name.title()}}" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="fas fa-address-book prefix teal-text text-darken-4"></i>
                        <input id="last_name" name="last_name" type="text" class="validate" value="{{user.last_name.title()}}" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope-open-text prefix teal-text text-darken-4"></i>
                        <input id="email" name="email" type="email" class="validate" value="{{user.email}}" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- phone number -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-phone prefix teal-text text-darken-4"></i>
                        <input id="phone_number" name="phone_number" type="tel" class="validate" value="{{user.phone_number}}" required>
                        <label for="phone_number">Phone Number</label>
                    </div>
                </div>
                <!-- profile image -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix teal-text text-darken-4"></i>
						<input id="profile_image" name="profile_image" type="text" minlength="5"
                            maxlength="1000" class="validate" value="{{user.profile_image}}" >
						<label for="profile_image">Profile Image</label>
					</div>
                </div>
		    <div class="row">
		        <button class="btn waves-effect waves-light" type="submit">Update User Details
                    <i class="material-icons right"></i>
                </button>
            </div>
	</form>
 {% endif %}
 {% endfor %}
</div>
</div>
{% endblock %}