{% extends "base.html" %}
{% block content %}
<div class="container teal-text text-darken-4">
    <div class="row center-align">
<h4>Filter search</h4>
</div>
<div class="row teal lighten-4">
	<form action="{{ url_for('trefle_filter') }}" method="POST" class="col s12">
        <span>
        <label>
            <input type="checkbox" name="Red" id="Red"/>
            <span>Red</span>
        </label>
    </span>
        <span>
        <label>
            <input type="checkbox" name="Yellow" id="Yellow"/>
            <span>Yellow</span>
        </label>
    </span>
        <span>
        <label>
            <input type="checkbox" name="Blue" id="Blue" />
            <span>Blue</span>
        </label>
    </span>
    <div class="row col s12">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
	</form>
</div>
</div>

<ul class="row">
    {% for plant in plants %}
    <li>
    <div class="col s12 m4">
      <div class="card teal lighten-4">
        <div class="card-image">
            <img src="{{ plant.image_url }}" alt="">
        </div>
		<div class="card-content">
			<ul>
                <li><i class="fas fa-spa teal-text text-lighten-2"></i>
                <strong>{{ plant.common_name.title() if plant.common_name != None else 'None' }} </strong>
                <em>  id: {{ plant.id }}</em></li>
                <li>Family Common Name: <em>{{ plant.family_common_name }}</em></li>
                <li>Scientific Name: <em>{{ plant.scientific_name }}</em></li>
				<li>Family Name: {{ plant.family }}</li>
                <li>Genus: {{ plant.genus }}</li>
                <li><a class="hoverable teal-text text-darken-4 wiki-text" href="https://en.wikipedia.org/wiki/{{ plant.scientific_name}}" target="_blank">Wiki Link to {{ plant.common_name.title() if plant.common_name != None else 'None' }}</a></li>
			</ul>
		</div>
        <div class="card-action btn-css">
                <a href="{{ url_for('add_trefle_plant', id=plant.id) }}" class="waves-effect waves-light teal  darken-2 btn">Add Plant   <i class="fas fa-edit"></i></a>
                <a href="{{ url_for('get_trefle_deets', id=plant.id) }}" class="waves-effect waves-light teal  darken-2 btn">Plant Details   <i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
    </li>
    {% endfor %}
</ul>
<div class="page-box">
	<div class="row">
		<p class="col teal darken-4 yellow-text text-darken-4 text-shadow">Total number of plants in search: <em>{{ total }}</em></p>
    </div>
    <div class="row">
        <div class="col s12">
            
            <a href="{{url_for('next_filter', page=first_page )}}" class="btn teal darken-4 yellow-text text-darken-4 text-shadow">{{first_page}}</a>
            <a href="{{url_for('next_filter', page=prev_page )}}" class="btn teal darken-4 yellow-text text-darken-4 text-shadow">{{prev_page}}</a>
            <a href="{{url_for('next_filter', page=selfs_page )}}" class="btn teal darken-4 yellow-text text-darken-4 text-shadow">{{selfs_page}}</a>
            <a href="{{url_for('next_filter', page=next_page )}}" class="btn teal darken-4 yellow-text text-darken-4 text-shadow">{{next_page}}</a>
           
            <a href="{{url_for('next_filter', page=last_page )}}" class="btn teal darken-4 yellow-text text-darken-4 text-shadow">{{last_page}}</a>
           
        </div>
    </div>
</div>
  {% endblock %}