{% extends 'base.html' %} {% block content %}

<div class="container">
<div class="row">
    <h5 class="teal-text text-darken-4"></h5>
</div>
</div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card teal lighten-4 large">
        <div class="card-image">
          <img src="static/images/daisy.jpg">
          
        </div>
        <div class="card-content">
        <span class="card-title">My Plants</span>
          <p>Manage all your plants here. Shows details for common names, images, scientific details, colors, activities. Add, delete, review your plants and put them in your collections!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
 
    <div class="col s12 m6">
      <div class="card teal lighten-4 large">
        <div class="card-image">
          <img src="static/images/geranium.jpg">
          
        </div>
        <div class="card-content">
        <span class="card-title">My Collections</span>
          <p>Manage your plant collections here. Organise your plants into collections; vegetable garden, border, climbers, arrange them how you'd like!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6">
      <div class="card teal lighten-4 large">
        <div class="card-image">
          <img src="static/images/dahlia.jpg">
        
        </div>
        <div class="card-content">
        <span class="card-title">My Year</span>
          <p>See what you need to do to manage your garden at any time of the year. See the activities by plant or collection; prune, plant out, cover, water. See also what you can expect from your plants at any time of the year; bloom or leaf drop.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card teal lighten-4 large">
        <div class="card-image">
          <img src="static/images/lilium.jpg">
        </div>
        <div class="card-content">
        <span class="card-title">Search for Plants</span>
          <p>Search by name, color, sun, shade, size, add it to your list and collection! See a plant but don't know what it is? take a picture with your phone or upload an image to find some suggestions! Then add instantly to your collection!.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    </div>

    <div class="row">
        <div class="btn-css">
		    <a href="{{ url_for('register') }}" class="waves-effect waves-light teal  darken-2 btn">Register   <i class="fas fa-edit"></i></a>
		    <a href="{{ url_for('login') }}" class="waves-effect waves-light teal darken-2 btn right">Login  <i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
{% endblock %}