{% extends 'base.html' %} {% block content %}
<div class="container teal lighten-4">
<h4>Trefle Plant Details: </h4>
<div class="row">
    <ul>
        <div class="row">
            <li>Trefle ID: {{trefle_id}}</li>
            <li>Common Name: {{common_name.title() if plant.common_name != None else 'None'}}</li>
            <li>Family Common Name: {{family_common_name}}</li>
            <li>Scientific Name: {{scientific_name}}</li>
            <li>Family Name: {{family_name}}</li>
            <li>Genus: {{genus}}</li>
            <li>Image: {{image_url}}</li>
            <li><strong> Flower: </strong>
                    Colors:     {% if flower.color == None %}
                                    <em>{{flower.color}}</em>
                                {% else %}
                                    {% for i in flower.color %}
                                        <em>{{i}}</em>
                                    {% endfor %}
                                {% endif%}
                    Conspicuous: <em>{{flower.conspicuous}}</em></li>
            <li><strong>Foliage: </strong>
                    Texture: <em>{{foliage.texture}}</em>
                    Color: <em>{{foliage.color}}</em>
                    Leaf Retention: <em>{{foliage.leaf_retention}}</em>
            </li>
            <li><strong>Fruit or Seed: </strong>
                    Conspicous: <em>{{fruit_or_seed.conspicuous}}</em>
                    Color: <em>{{fruit_or_seed.color}}</em>
                    Shape: <em>{{fruit_or_seed.shape}}</em>
                    Seed Persistence: <em>{{fruit_or_seed.seed_persistence}}</em>
            </li>
            <li><strong>Specifications: </strong> {{specifications}}
            
            
            
            
            
            </li>
            <li><strong>Growth: </strong>{{growth}}
            
            
            </li>
            <li><strong>Bloom Months:  </strong> 
                             {% if bloom_months == None %}
                                <em>{{bloom_months}}</em>
                            {% else %}
                               {% for i in bloom_months %}
                                <em>{{i}}</em>
                                {% endfor %}
                            {% endif%}
            </li>
            <li></li>
            <li></li>
            <li></li>
        </div>
    </ul>

		    <div class="row">
		        <button class="btn waves-effect waves-light" type="submit">Add Plant Details
                    <i class="material-icons right"></i>
                </button>
            </div>
</div>
</div>
{% endblock %}