{% extends 'base.html' %} {% block content %}

<div class="container teal lighten-4 teal-text text-darken-4">
<h4>My Plants</h4>
<ul class="collapsible" data-collapsible="accordion">
    {% for plant in plants %}
    {% if session.user|lower == plant.created_by|lower %}
    <li>
    <div class="collapsible-header teal lighten-4">
        <div class="col s9">
            <i class="fas fa-spa"></i>{{plant.common_name}}
        </div>
        <div class="col s3">
            <i class="material-icons">expand_more</i>
        </div>
    </div>
    <div class="collapsible-body">
        <span class="cap-text"><strong> Collection: </strong></span><span class="cap-text"><strong>{{plant.collection_name}}</strong></span> <br>
        <span><strong>Trefle ID: </strong></span><span> {{plant.trefle_id}}</span> <br>
        <span><strong>Family Common Name: </strong></span><span> {{plant.family_common_name}}</span> <br>
        <span><strong>Scientific Name: </strong></span><span> {{plant.scientific_name}}</span> <br>
        <span><strong>Family Name: </strong></span><span> {{plant.family}}</span> <br>
        <span><strong>Genus: </strong></span><span> {{plant.genus}}</span> <br>
        <span><strong>Description: </strong></span><span> {{plant.description}}</span> <br>
        <span><strong>Date Added: </strong></span><span> {{plant.date_added}}</span> <br>
        <img  class="card responsive-img" src="{{ plant.image_url }}" alt="No image"><br>
        <span><strong>Created By: </strong></span><span> {{plant.created_by}}</span> <br>
        <div class="btn-css">
		    <a href="{{url_for('edit_plant', plant_id=plant._id)}}" class="waves-effect waves-light btn"><i class="material-icons"></i>Edit</a>
		    <a href="{{url_for('delete_plant', plant_id=plant._id)}}" class="waves-effect waves-light red darken-2 btn right"><i class="material-icons"></i>Delete</a>
        </div>
    </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<div class="row">
        <div class="btn-css">
		    <a href="{{ url_for('add_plants') }}" class="waves-effect waves-light teal  darken-2 btn">Add Plant   <i class="fas fa-edit"></i></a>
		    <a href="{{ url_for('add_collections') }}" class="waves-effect waves-light teal darken-2 btn right">Add Collection  <i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
</div>
{% endblock %}