{% extends 'base.html' %} {% block content %}

<div class="container">
<ul class="collapsible">
    {% for plant in plants %}
    <li>
      <div class="collapsible-header"><i class="fas fa-spa"></i>
    {{plant.common_name}}
      </div>
      <div class="collapsible-body">
        <span><strong> Collection: </strong></span><span> {{plant.collection_name}}</span> <br>
        <span><strong>Family Name: </strong></span><span> {{plant.family_common_name}}</span> <br>
        <span><strong>Genus: </strong></span><span> {{plant.genus}}</span> <br>
        <span><strong>Family: </strong></span><span> {{plant.family}}</span> <br>
        <span><strong>Description: </strong></span><span> {{plant.description}}</span> <br>
        <span><strong>Date Added: </strong></span><span> {{plant.date_added}}</span> <br>
        <span><strong>Image: </strong></span><span> {{plant.image_url}}</span> <br>
      </div>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}