{% extends 'base.html' %} {% block content %}

<div class="main-wrapper">
<div class="slider-holder">
<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="static/images/perennial254287.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="static/images/dahlia.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>
</div>
</div>
<div class="container">
<div class="center-align row yellow-text text-darken-4 text-shadow">
<h4>My Details</h4>
</div>

<ul>
    {% for user in users %}
    {% if session.user|lower == user.username|lower %}
    <li>
    <div class="col s12 m4">
      <div class="card large teal lighten-4">
        <div class="card-image">
            <img src="static/images/lilium.jpg">  
        </div>
		<div class="card-content">
			<ul>
                <li>First Name: {{user.first_name.title()}}</li>
				<li>Last Name: {{ user.last_name.title() }}</li>
				<li>Email: {{ user.email }}</li>
				<li>Phone No.: <strong>{{user.phone_number}}</strong></li>
                <li>Username: <em>{{user.username}}</em></li>
			</ul>
		</div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% endblock %}